<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Quantum Leap</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <script src="/assets/js/jquery-ui.js"></script>
    <script>
      var socket = io.connect();
      $(document).ready(function(){
        socket.emit('getPortfolio','hi')
        socket.on('getPortfolio',function(data){
          var p='';
          for(var x=0;x < data.length ;x++){
            p+='<option value="'+ data[x]._id +'">'+data[x].pName+'</option>'
          } 
          $("#portfolio").html(p);    
        })
        socket.emit('ReportType','hi')
        socket.on('ReportType',function(data){
          var p='';
          for(var x=0;x < data.length ;x++){
            p+='<option value="'+ data[x]._id +'">'+data[x].rTName+'</option>'
          } 
          $("#reportType").html(p);    
        })
      })
    </script>
  </head>
  <body>
    <div class="header">
      <div class="logoutCon"><a href="/logout"><button class="exit-btn exit-btn-4">Log Out</button></a></div>
    </div>
    <section class="container">
      <nav class="side-nav">
        <a href="/admin/addNew" class="side-nav-button active" title="Add New">Add New</a>
      </nav>
      <div class="content">
        <!-- <p>hi raheem</p> -->
        <div class="main-content">
          <div>
            <font color='white'>
                <center><h2>Report Details</h2></center><hr>
                <center>
                  <label><b>Select Portfolio :</b></label>
                  <select name="portfolio" id="portfolio">
                    <option value="">--select--</option>
                  </select>
                </center>
                <br />
                <center>
                  <label><b>Select ReportType :</b></label>
                  <select name="reportType" id="reportType">
                    <option value="">--select--</option>
                  </select>
                </center>
                <br />
                <center><button class="button" id='appButton'>Save App</button> </center>
                <hr>
            </font> 
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
