<nav class="side-nav">
    <a href="/reports/currentPortfolio" class="side-nav-button {% if activeTab == 'currentPortfolio'  %} active {% endif %}" title="Add New">Current Portfolio</a>
    <a href="/reports/closedPositions" class="side-nav-button {% if activeTab == 'closedPositions'  %} active {% endif %}" title="Add New">Closed Positions</a>
    <a href="/reports/profitOrLoss" class="side-nav-button {% if activeTab == 'profitOrLoss'  %} active {% endif %}" title="Add New">Profit / Loss</a>
</nav>