<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Quantum Leap</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <script src="/assets/js/jquery-ui.js"></script>
    <script>
      var socket = io.connect();
      $(document).ready(function(){
        $(".fmonthCon").hide();
        socket.emit('getPortfolio','hi')
        socket.on('getPortfolio',function(data){
          console.log(data)
          var p='<option value="">Select</option>';
          for(var x=0;x < data.length ;x++){
            p+='<option value="'+ data[x].pName +'">'+data[x].pName+'</option>'
          } 
          $("#pName").html(p);    
        })
        socket.emit('ReportType','hi')
        socket.on('ReportType',function(data){
          var p='<option value="">Select</option>';
          for(var x=0;x < data.length ;x++){
            p+='<option value="'+ data[x].segment +'">'+data[x].segment+'</option>'
          } 
          $("#segment").html(p);    
        })
        /*socket.emit('getCompanies','hi')
        socket.on('getCompanies',function(data){
          var p='<option value="">Select</option>';
          for(var x=0;x < data.length ;x++){
            p+='<option value="'+ data[x]._id +'">'+data[x].cName+'</option>'
          } 
          $("#cId").html(p);    
        })*/
        $("#segment, #pName").on("change",function(){
          var segment = $("#segment").val();
          var pName = $("#pName").val();
          if(pName !== "" && segment !== ""){
            var type = "sale"
            if(segment !== "Futures"){
              type = "portfolio";
              $(".fmonthCon").hide();
            }else{
              $(".fmonthCon").show();
            }

            socket.emit('getCompanyList',{segment:segment,pName:pName,type:type})
            socket.on('getCompanyList',function(companies){
              var companylist = companies;
              $( "#cName" ).autocomplete({
                source: companylist
              });
            })
          }else{

          }
        })
        /*$("#cId").on("change",function(){
          socket.emit('getCmp',{company:$("#cId option:selected").text()})
          socket.on('getCmp',function(data){
              if($("#price").val(data.CMP) !== undefined)
                $("#price").val(data.CMP)
              else
                $("#price").val(0)
              // $("#price").attr("disabled","disabled")
          })
        })*/
        $("#sale-form").submit(function(e){
          e.preventDefault();
          var data = {
            pName : $("#pName").val(),
            segment : $("#segment").val(),
            cName : $("#cName").val(),
            quantity : $("#quantity").val(),
            price : $("#price").val()
          }
          if($("#segment").val() === "Futures"){
            if($("#fmonth").val() !== ""){
              data.fMonth = $("#fmonth").val(); 
              socket.emit('sellSharesFromOrg',data)
            }else{
              alert("select Expiry Month")
            }
          }else{
            socket.emit('sellSharesFromOrg',data)
          }
          // alert()
               console.log('buy data '+data+' stringify '+JSON.stringify(data))
     
          
        })
        socket.on('sellSharesFromOrg',function(data){
             $("#sale-form")[0].reset();
             alert(data.status)
        })
      })
    </script>
  </head>
  <body>
    <div class="header">
      <div class="logoutCon">
        <a href="/logout">
          <button class="exit-btn exit-btn-4">Log Out</button>
        </a>
      </div>
    </div>
    <section class="container">
      {% include "header.html" %}
      {% include "sidebar.html" %}
      <div class="content">
        <!-- <p>hi raheem</p> -->
        <div class="main-content">
          <div>
            <form action="/savereportDetails" id="sale-form" method="POST">
              <font color='white'>
                  <center><h2>Sale</h2></center>
                  <hr>
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Portfolio :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <select name="pName" id="pName">
                          <option value="">--select--</option>
                        </select>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Segment :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <select name="segment" id="segment">
                          <option value="">--select--</option>
                        </select>
                      </span>
                    </div>
                  </div>
                  <div class="form-group fmonthCon">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Contract Month :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <select name="fmonth" id="fmonth">
                          <option value="">--select--</option>
                          <option value="JAN">JAN</option>
                          <option value="FEB">FEB</option>
                          <option value="MAR">MAR</option>
                          <option value="APRL">APRL</option>
                          <option value="MAY">MAY</option>
                          <option value="JUN">JUN</option>
                          <option value="JUL">JUL</option>
                          <option value="AUG">AUG</option>
                          <option value="SEP">SEP</option>
                          <option value="OCT">OCT</option>
                          <option value="NOV">NOV</option>
                          <option value="DEC">DEC</option>
                        </select>
                        <!-- <input type="text" name="segment" id="segment"> -->
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Company Name :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <input type="text" name="cName" id="cName">
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Quantity :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <input type="text" name="quantity" id="quantity">
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Price :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <input type="text" name="price" id="price">
                      </span>
                    </div>
                  </div>
                  <center>
                    <input type="submit" value="Sale" class="button" id='sale'>
                  </center>
                  <hr>
              </font> 
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
