<nav class="side-nav">
    <a href="/admin/addNewPortfolio" class="side-nav-button {% if activeTab == 'addNewPortfolio'  %} active {% endif %}" title="Add New">Add New Portfolio</a>
    <!-- <a href="/admin/addNewCompany" class="side-nav-button " title="Add New">Add New Company</a> -->
   <!--  <a href="/admin/addNewReportType" class="side-nav-button {% if activeTab == 'addNewReportType'  %} active {% endif %}" title="Add New">Add New Report Type</a> -->
    <a href="/updatePortfolio" class="side-nav-button {% if activeTab == 'updatePortfolio'  %} active {% endif %}" title="Add New">Update Portfolio</a>
</nav>