<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Quantum Leap</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <script src="/assets/js/jquery-ui.js"></script>
    <script>
      var socket = io.connect();
      $(document).ready(function(){
        socket.emit('getPortfolios','hi')
        socket.on('getPortfolios',function(data){
          var p='<option value="">Select</option>';
          for(var x=0;x < data.length ;x++){
            p+='<option value="'+ data[x].pName +'">'+data[x].pName+'</option>'
          } 
          $("#portfolio").html(p);    
        })
        $("#buy-form").submit(function(e){
          e.preventDefault();
          var data = {
            pName : $("#pName").val(),
            rTName : $("#rTName").val(),
            cName : $("#cName").val(),
            quantity : $("#quantity").val(),
            price : $("#price").val()
          }
          console.log('buy data '+data+' stringify '+JSON.stringify(data))
          socket.emit('buySharesFromOrg',data)
        })
        socket.on('buySharesFromOrg',function(data){
             $("#buy-form")[0].reset();
             alert(data.status)
        })
      })
    </script>
  </head>
  <body>
    <div class="header">
      <div class="logoutCon">
        <a href="/logout">
          <button class="exit-btn exit-btn-4">Log Out</button>
        </a>
      </div>
    </div>
    <section class="container">
      {% include "header.html" %}
      {% include "sidebar.html" %}
      <div class="content">
        <!-- <p>hi raheem</p> -->
        <div class="main-content">
          <div>
            <form action="/savereportDetails" id="buy-form" method="POST">
              <font color='white'>
                  <center><h2>Buy</h2></center>
                  <hr>
                  <input type="hidden" name="pName" id="pName" value="{{portfolio}}">
                  <input type="hidden" name="rTName" id="rTName" value="{{reportType}}">
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Portfolio :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <select name="portfolio" id="portfolio">
                          <option value="">--select--</option>
                        </select>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Cash :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <!-- <input type="text" name="dividend" id="dividend"> -->
                        <select name="cashType" id="cashType">
                          <option value="">Select</option>
                          <option value="dividend">Dividend/Profit Earned</option>
                          <option value="outflow">Cash Out-flow</option>
                          <option value="inflow">Cash In-flow</option>
                        </select>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Amount :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <input type="text" name="amount" id="amount">
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-fields">
                      <span class="form-label">
                        <label><b>Description :</b></label>
                      </span>
                    </div>
                    <div class="form-fields">
                      <span  class="form-field">
                        <input type="text" name="description" id="description">
                      </span>
                    </div>
                  </div>
                  <center>
                    <input type="submit" value="Buy" class="button" id='buy'>
                  </center>
                  <hr>
              </font> 
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
